@font-face {
    font-family: "fontsed";
    src: url("fontsed.otf");
    font-style: normal;
    font-weight: normal;
}
body {
    background-image: url("img/Pattern.png");
    font-family: fontsed, serif;
}
a{
    color:black;
    text-decoration: none;
}
.content {
    background-color:white;
    width: 320px;
    height: 509px;
    border:solid 5px #10d6ff;
    background-image: url("img/Photo.png");
    background-position: -30px 250px;
    background-size: 368px 360px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    border-top-right-radius: 15px;
    padding-left: 20px;

}
.name {
    color:black;
    font-size:40px;
    font-weight:bolder;
    margin-top: -20px;
}

.allContent{
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.question{
    color:white;
}
.giveMeYouMoney{
    text-decoration: none;
    border-bottom: 1px dashed #3fc5ff;
    color: #25ccff;
}
.first_eat{
    margin: auto;
}
.second_eat{
    margin: auto;
}
.third_eat{
    margin: auto;
}
.first_word{
    size: 10px;
}
.page-first-word{
    color: white;
    text-align: center;
    font-size:50px;
}
.content-2{
    border:solid 5px #ff5461;

}
.content-3{
    border:solid 5px #6f6b6e;
    color: #6f6b6e;

}
.food{
    margin-top: -40px;
}
.portions{
    margin-top: 10px;
}