@font-face {
    font-family: "fontsed";
    src: url("fontsed.otf");
    font-style: normal;
    font-weight: normal;
}
body {
    background-image: url("img/Pattern.png");
    font-family: fontsed, serif;
}
a{
    color:black;
    text-decoration: none;
}
.content {
    background-color:white;
    width: 320px;
    height: 509px;
    border:solid 5px #10d6ff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    border-top-right-radius: 15px;
    padding-left: 20px;

}
.name {
    color:black;
    font-size:50px;
    font-weight: 900;
    margin-top: -20px;
    margin-left: 30px;
}

.allContent{
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.question{
    color:white;
}
.giveMeYouMoney{
    text-decoration: none;
    border-bottom: 1px dashed #3fc5ff;
    color: #25ccff;
}
.first_eat{
    margin: auto;
}
.second_eat{
    margin: auto;
}
.third_eat{
    margin: auto;
}
.first_word{
    size: 10px;
}
.page-first-word{
    color: white;
    text-align: center;
    font-size:50px;
}
.content-3{
    border:solid 5px rgba(111, 107, 110, 0.34);;
    color: rgba(0, 0, 0, 0.51);
}
.content-3 .name{
    color: rgba(0, 0, 0, 0.5);
}
.third_eat .question{
    color: rgb(255, 236, 68);
}
.content-3 .img{
    opacity: 0.50;

}
.food{
    margin-top: -40px;
    font-weight: bolder;
    margin-left: 30px;
}
.portions{
    margin-top: 10px;
}
p{
    margin-left: 30px;
}

.img{
    background-image: url("img/Photo.png");
    background-position: -40px 40px;
    background-size: 368px 360px;
    background-repeat: no-repeat;
    width: 315px;
    height: 312px;
    margin-left: -20px;
    border-bottom-left-radius: 10px;
}

.content-1:hover,
.content-2:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.giveMeYouMoney:active{
    color:#ff5461;
    border-bottom: 1px dashed #ff5461;
}

.content-1:active,
.content-2:active{
    border: 5px solid #ff5461;
}
.round{
    width: 100px;
    height: 100px;
    background: #3fc5ff;
    border-radius: 50px;
    margin-top: -110px;
    margin-left: 210px;
    text-align: center;
}
.text-in-round{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    line-height: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.round:before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
.content-1:active .round{
    background: #ff5461;
}
.content-2:active .round{
    background: #ff5461;
}
.content-3 .round{
    background: rgba(111, 107, 110, 0.34);
}
/* this is костыль */
.third_eat{
    margin-top: 20px;
}